body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.home-img{
     height: 300px;
    display:block;
    margin:auto;
}
.contact-img{
    height: 400px;
    display:block;
    margin:auto;
}
.about-img{
    height: 400px;
    display:block;
    margin:auto;
}
.head-name{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background:rgb(102, 102, 250);
    height: 30px;
    border-radius: 2%;
}